In [1]:
import pandas as pd

## How to rename columns in a pandas DataFrame?

In [2]:
# read a dataset of UFO reports into a DataFrame

ufo = pd.read_csv('http://bit.ly/uforeports')

In [3]:
# examine the column names

ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [4]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
# rename two of the columns by using the 'rename()' method
# always remember to put the 'inplace=True' argument to make the changes permanant

ufo.rename(columns={'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'}, inplace=True)
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [6]:
# replace all of the column names by overwriting the 'columns' attribute
# Here we want to replace all the column names

ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']
ufo.columns = ufo_cols
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

In [7]:
# replace the column names during the file reading process by using the 'names' parameter
# in this case we need to give the 'header=0' argument to rename the column names

ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']
ufo = pd.read_csv('http://bit.ly/uforeports', header=0, names=ufo_cols)
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

In [8]:
# replace all spaces with underscores in the column names by using the 'str.replace()' method
# here first we convert the column names as string and then we use the replace()

ufo.columns = ufo.columns.str.replace(' ', '_')
ufo.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')